* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: Helvetica;
    position: fixed;
    margin-bottom: 150px;
}

button {
    margin: 10px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 17px;
    font-family: Helvetica;
    transition: 0.5s;
}

button:hover {
    background-color: #0000a7;
    font-size: 25px;
}

button:active {
    font-size: 15px;
}

p {
    font-family: Helvetica;
    font-size: 20px;
    margin-top: 20px;
    color: #000000;
    text-align: center;
    position: fixed;
    margin-top: 150px;
}
