* {
    font-family: Helvetica;
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

h1 {
    position: fixed;
    margin-bottom: 550px;
    font-size: 40px;
}

.js-moves button {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 500px;
    height: 120px;
    width: 120px;
    margin: 30px;
    font-size: 45px;
    transition: 0.75s;
    cursor: pointer;
}

.js-moves button:hover {
    font-size: 60px;
    height: 150px;
    width: 150px;
}

.js-moves button:active {
    font-size: 25px;
    height: 75px;
    width: 75px;
}

#js-reset-score {
    background: none;
    border: none;
    text-decoration: underline;
    color: blue;
    position: fixed;
    right: 25px;
    top: 700px;
    cursor: pointer;
    transition: 0.3s linear;
}

#js-reset-score:hover {
    color: #0000aeac;
}

#js-score {
    font-size: 30px;
    position: fixed;
    top: 600px;
}

#js-result {
    position: fixed;
    top: 550px;
}

#js-chosen-moves {
    position: fixed;
    top: 500px;
}

#js-autoplay {
    position: fixed;
    top: 670px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

#js-autoplay:hover {
    background-color: #00009b;
}

#js-autoplay:active {
    background-color: #0303e5;
}
