* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

.js-moves {
    margin-bottom: 30px;
}

.js-moves button {
    margin: 10px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.js-moves button:hover {
    background-color: #0000a7;
    font-size: 20px;
}

.js-moves button:active {
    font-size: 15px;
}

#js-result {
    font-size: 22px;
    margin: 20px 0;
}

#js-score {
    font-size: 18px;
    margin: 10px 0;
}

#js-reset-score {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background: none;
    color: blue;
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
}

#js-reset-score:hover {
    color: #0000a7;
}
